.nav-bar-container{
  position: fixed;
  top: 0.5rem;
  left: 0.4rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100px;
}

.nav-bar-container p {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.nav-bar-container .settings-button{
  transition: all 0.5s;
  animation-name: settings;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar-container .settings-button img{
  width: 45px;
  height: 45px;
}

@keyframes settings {
  0%{
    transform: rotate(0);  
  }100%{
    transform: rotate(360deg);  
  }
}

.mute-button {
  border: none;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.mute-button img{
  width: 90%;
}
